body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
a{
  align-items: center;
  padding: 10px;
}
figcaption{
  font-size: medium;
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{width: 800px;
text-align: center;
margin-left: auto;
margin-right: auto;
vertical-align: middle;}
div{
  float:left;
  background-color: red;
  text-align: center;
  width: 25%; 
}
#details{

}